dtds/EmployeesDTD.dtd

<!ELEMENT Employees (Employee*)>
<!ELEMENT Employee (EmployeeCode, EmployeeFirstName, (EmployeeMiddleName | EmployeeLastName)*, Department+, Salary)>
<!ELEMENT EmployeeCode (#PCDATA)>
<!ELEMENT EmployeeFirstName (#PCDATA)>
<!ELEMENT EmployeeMiddleName (#PCDATA)>
<!ELEMENT EmployeeLastName (#PCDATA)>
<!ELEMENT Department (#PCDATA)>
<!ELEMENT Salary (#PCDATA)>
